<title>UTS | Igualdad laboral y no discriminación</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Igualdad laboral y no discriminación</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Igualdad laboral y no discriminación</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<article>
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <img class="mb-3" src="assets/img/igualdad-laboral/banner-Igualdad.jpg" alt="Igualdad laboral">

        <div class="card-deck mb-3">
          <div class="card">
            <img src="assets/img/igualdad-laboral/guiaact.png" class="card-img-top" alt="Guía de actuación">
            <div class="card-body">
              <a href="assets/content/igualdad-laboral/Guia_de_Actuacion_y_codigo_de_etica.pdf" target="_blank" class="btn btn-outline-success btn-sm btn-block">Ver Más</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/igualdad-laboral/protocolo.png" class="card-img-top" alt="Protocolo para prevenir la violencia laboral">
            <div class="card-body">
              <a href="assets/content/igualdad-laboral/PROTOCOLO-PPAVLAHSGto.pdf" target="_blank" class="btn btn-outline-success btn-sm btn-block">Ver Más</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/igualdad-laboral/Manuallenguaje.png" class="card-img-top" alt="Manual para el uso no sexista del lenguaje">
            <div class="card-body">
              <a href="assets/content/igualdad-laboral/Manual_para_el_uso_no_sexista_del_lenguaje.pdf" target="_blank" class="btn btn-outline-success btn-sm btn-block">Ver Más</a>
            </div>
          </div>
        </div>

        <div class="card-deck mb-3">
          <div class="card">
            <img src="assets/img/igualdad-laboral/Manuallenguajeinc.png" class="card-img-top" alt="Manual de lenguaje incluyente">
            <div class="card-body">
              <a href="assets/content/igualdad-laboral/Manual_de_Lenguaje_incluyente_para_Comite_de_Igualdad.pdf" target="_blank" class="btn btn-outline-success btn-sm btn-block">Ver Más</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/igualdad-laboral/manualcomunic.png" class="card-img-top" alt="Manual de comunicación no sexista">
            <div class="card-body">
              <a href="assets/content/igualdad-laboral/Manual_de_comunicacion_No_sexista.pdf" target="_blank" class="btn btn-outline-success btn-sm btn-block">Ver Más</a>
            </div>
          </div>
          <div class="card">
            <img src="assets/img/igualdad-laboral/INACCSS.png" class="card-img-top" alt="Guía básica uso lenguaje INACCSS">
            <div class="card-body">
              <a href="assets/content/igualdad-laboral/08_GuiaBasica-Uso_Lenguaje_INACCSS.pdf" target="_blank" class="btn btn-outline-success btn-sm btn-block">Ver Más</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3">
        <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
      </div>
    </div>
  </div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>