<title>UTS | Convenios de Cooperación</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Convenios de Cooperación</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Convenios de Cooperación</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="convenios-cooperacion">
  <div class="row">
    <div class="col-md-9 text-justify">
      <p>La Universidad Tecnológica de Salamanca forma parte del Subsistema de Universidades Tecnológicas y Politécnicas con
        alrededor de 113 campus en toda la República Mexicana; por lo que la vinculación es una actividad sustantiva orientada
        fundamentalmente a establecer relaciones con los sectores productivos de bienes y/o servicios, públicos y privados,
        nacionales e internacionales para coadyuvar en la formación de los estudiantes y docentes. </p>
      <p>La vinculación es un proceso integral que articula las funciones sustantivas de docencia, investigación, extensión
        de la cultura y los servicios de las Instituciones de Educación Superior para su interacción eficaz y eficiente con
        la sociedad y el sector productivo. </p>
      <p>La vinculación se da, mediante el desarrollo de acciones y proyectos de beneficio mutuo, que por un lado contribuyen
        al posicionamiento y reconocimiento social de la Universidad y por otro, coadyuvan a la efectividad de las organizaciones
        colaboradoras de los diferentes sectores, viéndose esto reflejado en el incremento de la productividad, calidad y
        por ende de la competitividad, lo cual, a su vez impacta positivamente en el crecimiento económico de las regiones.
        </p>
      <p>Para lograr esto, se desarrollan convenios de colaboración con diferentes instancias como: </p>
      <p class="font-weight-bold">Organizaciones Nacionales:</p>
      <div class="row">
        <div class="col-md-6">
          <ul>
            <li>SRG Global México S. de R.L. de C.V.</li>
            <li>Quiroga Trucks S.A. de C.V.</li>
            <li>Universia y Trabajando</li>
            <li>Proyectos Ecológicos Ambientales S.A. de C.V.</li>
            <li>Harinera los Pirineos S.A. de C.V.</li>
            <li>AVANTEC Mexicana S.A. de C.V.</li>
            <li>Presidencia Municipal de Salamanca</li>
            <li>LUJUJUVI S.A. de C.V.</li>
            <li>General Motors de México S. de R.L. de C.V.</li>
            <li>Fitesanonwovens Services S.A. de C.V.</li>
            <li>Secretaria de Educación del Estado de Guanajuato</li>
            <li>Instituto de Alfabetización y Educación Básica para Adultos del Estado de Guanajuato</li>
            <li>Centro Mexicano de Energías Renovables S.C.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul>
            <li>Fundación Educación Superior – Empresa</li>
            <li>OCC Mundial</li>
            <li>Cámara Nacional del Autotransporte de Carga en México</li>
            <li>Consejo Estatal Hidráulico del Estado de Guanajuato</li>
            <li>Fundación Educación Superior - Empresa</li>
            <li>Comisión Federal de Electricidad</li>
            <li>Consejo Nacional de Normalización y Certificación de Competencias Laborales (CONOCER)</li>
            <li>Presidencia Municipal de Juventino Rosas</li>
            <li>Servicios a la Infraestructura Aeroportuaria del Pacífico S.A.</li>
            <li>Y-Tec Keylex México</li>
          </ul>
        </div>
      </div>
      <p class="font-weight-bold">Universidades Nacionales:</p>
      <ul>
        <li>Universidad Tecnológica de los Valles Centrales de Oaxaca</li>
        <li>Universidad Tecnológica de León</li>
      </ul>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>