<title>UTS | Movilidad Estudiantil</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Movilidad Estudiantil</h2>
      </div>
      <div class="col-md-6">
        <nav aria-label="breadcrumb" class="bg-transparent">
          <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">
              <a href="/">
                <i class="fa fa-map-marker"></i> Inicio</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Vinculación</li>
            <li class="breadcrumb-item active" aria-current="page">Movilidad Estudiantil</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<main id="movilidad-estudiantil">
  <div class="row">
    <div class="col-md-9 text-justify">
      <h4>Movilidad Estudiantil (Francia)</h4>
      <p>La Secretaría de Educación Pública, el Ministerio de Asuntos Extranjeros y Europeos de Francia (Programa MEXPROTEC) ofrecen a los estudiantes de las Universidades Tecnológicas, la posibilidad de concursar por una de las becas que otorga el Gobierno Federal para estudiar una Licencia Profesional en Francia, con la finalidad de que a su regreso contribuyan a mejorar el nivel socioeconómico en el entorno de su Universidad. </p>
      <p>Cada alumno seleccionado cursará estudios de Licencia Profesional en alguna de las áreas de formación, con duración de 12 meses en una institución de educación superior francesa. A su regreso, después de realizar los trámites necesarios de revalidación de estudios en México, se le podrá entregar una cédula profesional con título de “Licencia Profesional”, “Ingeniero Técnico”, “Ingeniero Profesional” o “Licenciado Profesional”. </p>
      <p class="font-weight-bold">Proceso de selección:</p>
      <p>La CGUTyP a través del Comité de Evaluación del Programa de Movilidad a Francia.</p>
      <p class="font-weight-bold">Compromisos de la Universidad:</p>
      <ul>
        <li>Implementar un programa de enseñanza del idioma francés, que permita al alumno obtener un nivel de B1 en el “Test de Connaissance du Français” (TCF).</li>
        <li>Proporcionar, conforme a los tiempos establecidos, la formación académica pertinente a los programas de estudio para los cuales están concursando, así como la información de manera veraz y oportuna conforme a lo requerido.</li>
        <li>Desarrollar con los candidatos, la metodología pedagógica del trabajo universitario: organización del trabajo personal, elaboración de apuntes, redacción de informes, correlación entre las diversas áreas ligadas al TSU, reforzamiento de la formación científica de acuerdo a cada especialidad, etc.</li>
        <li>Designar un tutor y establecer sus responsabilidades por escrito, para dar seguimiento y evaluar el progreso de los candidatos. Establecer dispositivos de apoyo personalizados por estudiante, en particular para la construcción de su «proyecto personal y profesional» ligado con un buen conocimiento de los objetivos de las L.P.</li>
        <li>A finales de cada año, se solicitará al alumno realice un examen DELF para verificar su nivel.</li>
      </ul>
      <p class="font-weight-bold">Compromisos del Alumno:</p>
      <ul>
        <li>Cursar en su totalidad el programa de francés que implemente la UT Salamanca y que le permitirá obtener el nivel requerido en la convocatoria.</li>
        <li>Participar en todas las actividades programadas dentro del proceso de selección MEXPROTEC, el no asistir a alguna de ellas significa quedar fuera del proceso.</li>
        <li>Cumplir con los requisitos solicitados en la convocatoria y conservar el promedio mínimo requerido.</li>
        <li>Todos los demás requisitos marcados en la convocatoria.</li>
      </ul>
    </div>
    <div class="col-md-3">
        <div class="card text-center mb-4">
            <div class="card-header">
              <p class="font-weight-bold">Para mayor información:</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">LART. Blanca Paulina Alfaro Jaime</h5>
              <p class="card-text">Jefa de Departamento de Vinculación Universitaria</p>
              <p>Email:
                <small>
                  <a href="mailto:palfaro@utsalamanca.edu.mx">palfaro@utsalamanca.edu.mx</a>
                </small>
              </p>
              <p class="card-text">Horario: Lunes a viernes de 8h00 a 17h00</p>
              <p class="card-text">Edificio de Centro de Información y Consulta / Biblioteca</p>
            </div>
            <div class="card-footer text-muted">
              Tel: 647 38 61 · Ext:168
            </div>
          </div>
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</main>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>