<title>UTS | Directorio</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Directorio</h2>
            </div>
            <div class="col-lg-4">
                <nav aria-label="breadcrumb" class="bg-transparent">
                    <ol class="breadcrumb bg-transparent">
                        <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Universidad</li>
                        <li class="breadcrumb-item active" aria-current="page">Directorio</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row mb-3">
                    <div class="col-sm">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
                            </div>
                            <input id="searchTerm" type="text" onkeyup="doSearch()" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
                                placeholder="EXT, PUESTO, DPTO">
                        </div>
                    </div>
                    <div class="col-sm text-center">
                        <h4>Tel: 01 (464) 647 38 61</h4>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="datos" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">EXT</th>
                                <th scope="col">PUESTO</th>
                                <th scope="col">DEPARTAMENTO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="font-weight-bold">100</td>
                                <td>Asistente de Rectoría</td>
                                <td>Rectoría</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">101</td>
                                <td>Rector</td>
                                <td>Rectoría</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">102</td>
                                <td>Encargada en materia de archivo</td>
                                <td>Rectoría</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">103</td>
                                <td>Director de Administración y Finanzas</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">104</td>
                                <td>Asistente de Administración y Finanzas</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">105</td>
                                <td>Asesoría Jurídica</td>
                                <td>Rectoría</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">106</td>
                                <td>Jefa de departamento de Finanzas</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">107</td>
                                <td>Jefe de departamento de Recursos Humanos</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">108</td>
                                <td>Jefa de oficina de adquisiciones</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">109</td>
                                <td>Jefe de Oficina de Servicios Generales</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">110</td>
                                <td>Analista Administrativo de Recursos Humanos</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">111</td>
                                <td>Coordinador de Infraestructura y Mantenimiento</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">112</td>
                                <td>Técnico Contable</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">115</td>
                                <td>Coordinador Académico</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">116</td>
                                <td>Asistente de Coordinación Académica</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">117</td>
                                <td>Encargada de la Dirección de ADM e IDIE</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">118</td>
                                <td>Asistente Carrera Administración</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">119</td>
                                <td>Encargado de la Dirección de PIA, MET, IMET e ISIP</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">120</td>
                                <td>Asistente Carrera de PIA, MET, IMET e ISIP</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">121</td>
                                <td>Encargado de la Dirección de QAM, QAI, ERC</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">122</td>
                                <td>Asistente Carrera de QAM, QAI, ERC</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">125</td>

                                <td>Jefa de Departamento de Servicios Escolares</td>
                                <td>Planeación y Evaluación</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">126</td>
                                <td>Analista administrativo de Servicios Escolares</td>
                                <td>Planeación y Evaluación</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">127</td>
                                <td>Técnico Bibliotecario</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">128</td>
                                <td>Coordinador de Talleres y Laboratorios</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">129</td>
                                <td>Jefa de Oficina de Becas</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">130</td>
                                <td>Jefa de oficina de atención Psicopedagogica</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">131</td>
                                <td>Jefa de oficina de atención Psicopedagogica</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">132</td>
                                <td>Analista administrativo en Cultura y Deportes</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">133</td>
                                <td>PTC ADM / Comité de Contraloría</td>
                                <td>Coordinación Académica</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">164</td>
                                <td>Encubadora de Negocios y Gimnasio Practicum</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">165</td>
                                <td>Director de Vinculación Universitaria</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">166</td>
                                <td>Asistente Dirección de Vinculación Universitaria</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <!--
                            <tr>
                                <td class="font-weight-bold">167</td>
                                <td>Subdirectora de Servicios al Estudiante</td>
                                <td>Subdirección de Servicios al Estudiante</td>
                            </tr>
                            -->
                            <tr>
                                <td class="font-weight-bold">168</td>
                                <td>Jefa de departamento de Vinculación Universitaria</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">169</td>
                                <td>Jefa de departamento de Servicios Médicos</td>
                                <td>Administración y Finanzas</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">171</td>
                                <td>Coordinadora de Educación Continua y Servicios Tecnológicos</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">173</td>
                                <td>Jefa de departamento del CELE</td>
                                <td>Vinculación y Extensión Universitaria</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">175</td>
                                <td>Director de Planeación y Evaluación</td>
                                <td>Planeación y Evaluación</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">176</td>
                                <td>Asistente Planeación y Evaluación</td>
                                <td>Planeación y Evaluación</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">177</td>
                                <td>Jefa de departamento de Programación y Evaluación</td>
                                <td> Planeación y Evaluación</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">179</td>
                                <td>Departamento de Tecnologías de la Información</td>
                                <td>Planeación y Evaluación</td>
                            </tr>
                            <tr>
                                <td class="font-weight-bold">180</td>

                                <td>Jefa de Oficina del Sistema de Gestión de Calidad</td>
                                <td>Planeación y Evaluación</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-3">
                <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
            </div>
        </div>
    </div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>