<title>UTS | Reconocimientos</title>
<app-header></app-header>
<app-nav></app-nav>
<div class="contenido-section bg-header-content">
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Reconocimientos</h2>
    </div>
    <div class="col-md-6">
      <nav aria-label="breadcrumb" class="bg-transparent">
        <ol class="breadcrumb bg-transparent">
          <li class="breadcrumb-item"><a href="/"><i class="fa fa-map-marker"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Universidad</li>
          <li class="breadcrumb-item active" aria-current="page">Reconocimientos</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
</div>
<article>
<div class="container">
  <div class="row">
    <div class="col-md-9">
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="assets/img/reconocimientos/CIEES-QA.png" alt="CIEES">
                <div class="card-body">
                    <h5 class="card-title">CIEES</h5>
                    <p class="card-text">Otorgan reconocimiento por haber obtenido el Nivel 1 al programa educativo TSU en Química Área Tecnología Ambiental</p>
                </div>
                <div class="card-footer">
                    <a href="assets/content/reconocimientos/CG-2018-239-REC.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
                </div>
              </div>
              <div class="card">
                  <img class="card-img-top" src="assets/img/reconocimientos/conacyt.png" alt="conacyt">
                  <div class="card-body">
                    <h5 class="card-title">RENIECYT</h5>
                    <p class="card-text">Otorga Constancia de Inscripción a Universidad Tecnológica de Salamanca</p>
                  </div>
                    <div class="card-footer">
                    <a href="assets/content/reconocimientos/Constancia_RENACYT.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/reconocimientos/Ficha-Tecnica_conocer.png" alt="Ficha Técnica CONOCER">
                    <div class="card-body">
                      <h5 class="card-title">Ficha Técnica CONOCER</h5>
                      <p class="card-text">Entrega de Cédula de  Acreditación como Entidad de Certificación y Evaluación (ECE)del CONOCER.</p>
                      </div>
                      <div class="card-footer">
                      <a href="assets/content/reconocimientos/Ficha_Tecnica_CONOCER.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
                    </div>
                </div>
          </div>

          <div class="card-deck mt-3">
              <div class="card">
                  <img class="card-img-top" src="assets/img/reconocimientos/conocer.png" alt="CONOCER">
                  <div class="card-body">
                      <h5 class="card-title">CONOCER</h5>
                      <p class="card-text">Expedición de Cédula de Acreditación como Entidad de Certificación y Evaluación</p>
                  </div>
                  <div class="card-footer">
                      <a href="assets/content/reconocimientos/Cedula_CONOCER.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
                  </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="assets/img/reconocimientos/british-council-logo.png" alt="BRITISH COUNCIL">
                    <div class="card-body">
                      <h5 class="card-title">BRITISH COUNCIL</h5>
                      <p class="card-text">UTS forma parte de la red de centros de exámenes del British Council México.</p>
                    </div>
                      <div class="card-footer">
                      <a href="assets/content/reconocimientos/Autorizacion_British.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
                      </div>
                  </div>
                  <div class="card">
                      <img class="card-img-top" src="assets/img/reconocimientos/caceca.png" alt="CACECA">
                      <div class="card-body">
                        <h5 class="card-title">CACECA</h5>
                        <p class="card-text">Acredita al programa TSU en Administración, Área Recursos Humanos.</p>
                        </div>
                        <div class="card-footer">
                        <a href="assets/content/reconocimientos/Acreditacion_CACECA.pdf" target="_blank" class="btn btn-primary">LEER MÁS</a>
                      </div>
                  </div>
            </div>
    </div>
    <div class="col-md-3">
      <app-nav-right-enlaces-frecuentes></app-nav-right-enlaces-frecuentes>
    </div>
  </div>
</div>
</article>
<app-enlaces-organismos-interes></app-enlaces-organismos-interes>
<app-footer></app-footer>