<article class="bg-light">
    <section id="slider-videos">
        <h6>VIDEOS INSTITUCIONALES Y DE APOYO PARA ESTUDIANTES UTS</h6>
        <div id="jssor_1"
            style="position:relative;margin:0 auto;top:0px;left:0px;width:810px;height:300px;overflow:hidden;visibility:hidden;background-color:#000000; float:left;">

            <div data-u="loading" style="position:absolute;top:0px;left:0px;background-color:rgba(0,0,0,0.7);">
                <div
                    style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;">
                </div>
                <div
                    style="position:absolute;display:block;background:url('assets/img/slider_videos/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;">
                </div>
            </div>
            <div data-u="slides"
                style="cursor:default;position:relative;top:0px;left:0px;width:600px;height:300px;overflow:hidden;">
                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/_l8rAg7hf-0" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/quinto_informe_2017-2018.PNG" />
                        <div class="t">5o Informe Gestión Administrativa 2017-2018</div>
                        <div class="c">Ing. Alfredo López Herrera</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/pM8W-ul8j7s" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/biblioteca-digital-introduccion-y-busquedas.JPG" />
                        <div class="t">BIBLIOTECA DIGITAL</div>
                        <div class="c">Introducción y búsquedas</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/VLCZrjjvOD4" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/biblioteca-digital-cuentas-de-estante.PNG" />
                        <div class="t">BIBLIOTECA DIGITAL</div>
                        <div class="c">Cuentas de Estante</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/C86hpc3F0h8" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/biblioteca-digital-lector-en-linea.PNG" />
                        <div class="t">BIBLIOTECA DIGITAL</div>
                        <div class="c">Lector en línea del libro</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/fO74CfwyMFM" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/biblioteca-digital-descargas.PNG" />
                        <div class="t">BIBLIOTECA DIGITAL</div>
                        <div class="c">Descargas</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/1rNXOp6nRIs" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/biblioteca-digital-tutorial-completo.jpg" />
                        <div class="t">BIBLIOTECA DIGITAL</div>
                        <div class="c">Video tutorial completo</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/-qofkNQNEBk" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/igualdad_laboral.jpg" />
                        <div class="t">Igualdad Laboral</div>
                        <div class="c">Igualdad Laboral y No Discriminación</div>
                    </div>
                </div>
                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/jm1k-uJa_Oo" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/mecatronica.jpg" />
                        <div class="t">Mecatrónica</div>
                        <div class="c">Brazo Robótico</div>
                    </div>
                </div>
                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/BWg0etBocPE" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/quimica_ambiental.jpg" />
                        <div class="t">Química Ambiental</div>
                        <div class="c">Formulación de Bloqueador Solar</div>
                    </div>
                </div>
                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/dPaarouMnBc" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/apoyo_estudiante_migrante.jpg" />
                        <div class="t">COEPES</div>
                        <div class="c">Campaña de apoyo al estudiante migrante</div>
                    </div>
                </div>

                <div>
                    <iframe width="600" height="300" src="https://www.youtube.com/embed/mVGQo4ck4ow" frameborder="0"
                        allowfullscreen></iframe>
                    <div data-u="thumb">
                        <img class="i" src="assets/img/slider_videos/video_institucional_xxv_anivesario.jpg" />
                        <div class="t">Universidades Tecnológicas</div>
                        <div class="c">XXV Aniversario</div>
                    </div>
                </div>

            </div>

            <!-- Navegador de miniaturas -->
            <div data-u="thumbnavigator" class="jssort11"
                style="position:absolute;right:5px;top:0px;font-family:Arial, Helvetica, sans-serif;-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;width:200px;height:300px;"
                data-autocenter="2">

                <div data-u="slides" style="cursor: default;">
                    <div data-u="prototype" class="p">
                        <div data-u="thumbnailtemplate" class="tp"></div>
                    </div>
                </div>

            </div>
            <!-- Fin Navegador de miniaturas -->

            <!-- Controles de flechas siguiente y anterior -->
            <span data-u="arrowleft" class="jssora02l" style="top:0px;left:8px;width:55px;height:55px;"
                data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora02r" style="top:0px;right:218px;width:55px;height:55px;"
                data-autocenter="2"></span>
        </div>
    </section>
</article>
<!-- </FIN carousel videos UTS -->